.git
*.pkl
popnews_csv.log
.idea
*.pyc
*.log
downloader.conf
.idea/inspectionProfiles/profiles_settings.xml
dist/image/opencc/dictionary/TWVariantsRev.txt.baiduyun.uploading.cfg
vcruntime140.dll
popnews*.csv